$color1: #222;
$linkColor: #007bff;
$fontStack: 'Poppins', sans-serif;

html{scroll-behavior: smooth;}
strong{font-weight: 600;}
a{text-decoration: none; color:$linkColor;}
* {box-sizing: border-box; transition: all .3s ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
::after, ::before {box-sizing: border-box;}

body{font-family:$fontStack!important; color:$color1;}
#app {float:left; width:100%;}

header{float:left; width:100%; padding:20px; border-bottom:1px solid #222; display:flex; align-items:center; justify-content: space-between; height:60px;
  .headerMenu{
    a{display:inline-block; padding:5px 10px;
      &:hover{text-decoration:underline;}
    }
  }
}
.container{float:left; width:100%; display:flex; align-items:center; justify-content:center;
  .pageWrap{width:100%; max-width:1100px; padding:30px;
    h1.title{float:left; width:100%; font-size:28px; font-weight:600; margin-bottom:20px;}
    .description{float:left; width:100%; font-size:16px;
      span{float:left; width:100%; font-size:16px; margin-bottom:20px;}
      p{float:left; width:100%; font-size:13px; line-height:18px; margin-bottom:10px;}
    }
  }
}

.vs-navbar{height:60px;}
.vs-navbar-content{background-color:#11263c; border-radius:0;}
.vs-navbar__item{padding:0; opacity:1;
  a{color:#fff; padding:5px 20px;}
}
.vs-button--flat{color:#fff; padding:2px 5px;}
.vs-select__input{width:100px;}
.vs-select__label{color:#222;}
.nuxt-link-exact-active{background-color:#fff; color:#222!important; border-radius:5px;}
.signIn{float:left; width:100%; padding: 20px 0;
  .vs-input-parent{margin-bottom:10px;
    input{float:left; width:100%; padding:10px; border:1px solid #ddd; outline:none; border-radius:10px;}
  }
}
.vs-select-content{width:100%; max-width:100%;}
.selectLanguage{outline:0; padding:5px; height:35px; border-radius:5px;}
.selectLanguageModalWrap{display:flex; justify-content:center;
  select{margin-top:20px; outline:0; padding:5px;}
}
.vs-dialog__header{color:#888;}
.username{display: flex; align-items: center; justify-content: space-between; color: #fff; position:relative; cursor: pointer; background-color: #193554; padding: 10px 20px; margin-right: 10px; border-radius: 5px;
  .name{float:right;}
  svg{margin-right:5px; font-size:18px;}
}
.logo{float:left; color:#fff; font-size:18px; font-weight:600; margin-right:10px; width:100px;
  a{background:transparent; color:#fff!important;}
}
.userMenu{position: absolute; top: 42px; right: 0; background-color: #f1f1f1; min-width: 200px; padding: 20px; box-shadow: 1px 1px 20px rgba(144,144,144,0.2); border-radius: 5px;
  span{float:left; width:100%; color:#222; padding:10px; font-size:14px; text-align:right;}
  .vs-button{float:right; margin-top:10px;}
}
.contactDetail{float:left; width:100%; padding:50px 0;
  .content-inputs{float:left; width:100%; margin-bottom:50px;}
  .msg{padding: 10px; border: 1px solid #f1f1f1; outline:none; width:500px;}
  input{width:500px;}
  .dropdown{position: relative; width: 100%; max-width: 500px;}
  .dropdown-input, .dropdown-selected{width: 100%; padding: 10px 16px; border: 1px solid transparent; background: #edf2f7; line-height: 1.5em; outline: none; border-radius: 8px;}
  .dropdown-input:focus, .dropdown-selected:hover{background: #fff; border-color: #e2e8f0;}
  .dropdown-input::placeholder{opacity: 0.7;}
  .dropdown-selected{font-weight: bold; cursor: pointer;}
  .dropdown-list{position: absolute; width: 100%; max-height: 500px; margin-top: 4px; overflow-y: auto; background: #ffffff; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); border-radius: 8px;}
  .dropdown-item{display: flex; width: 100%; padding: 11px 16px; cursor: pointer;}
  .dropdown-item:hover{background: #edf2f7;}
  .dropdown-item-flag{max-width: 24px; max-height: 18px; margin: auto 12px auto 0px;}
}
.success{float:left; width:100%; text-align: center; font-size:20px; font-weight:600;}
.mobileMenuBtn{float:right; color: #ffff; padding-left: 15px; font-size: 22px; display:none;}
.mobileMenu{position: absolute; top: 60px; left: 0; right: 0; z-index:2; width: 100%; background-color: #11263d; padding: 20px;
  li{float:left; width:100%;
    a{display:block; width:100%; padding:10px; color:#fff!important; background:transparent;
      &.nuxt-link-exact-active{font-weight:600;}
    }
  }
}

@media (max-width:767px) {
  .vs-navbar__item{display:none;}
  .mobileMenuBtn{display:block;}
  .username .name{display:none;}
  .userMenu{top:50px;}
}